name: "Deploy Webb App"
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: [self-hosted]
    steps:
    - uses: actions/checkout@v5
    - name: Look for operating system
      id: detect_os
      run: |
        if [ "$RUNNER_OS" = "Windows" ]; then
          echo "os=windows" >> $GITHUB_OUTPUT
        else
          echo "os=linux" >> $GITHUB_OUTPUT
        fi
      shell: bash
    - name: Deploy based on OS
      run: |
        if [ "${{ steps.detect_os.outputs.os }}" = "windows" ]; then
          echo "Running on Windows"
          kind create cluster
          skaffold run
        else
          echo "Running on Linux"
          k3d cluster create mycluster --wait 5m
          kubectl apply -k ./kustomize
        fi
      shell: bash

    - name: Forwarding ports
      run: |
        kubectl port-forward deployment/frontend 8080:8080
        kubectl port-forward service/grafana 3000:3000
        kubectl port-forward service/prometheus 9090:9090
        kubectl port-forward service/mailhog 8025:8025
      shell: bash

